<!DOCTYPE html>
<html>
  <head>
    <title>BlogTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top:10px;">
    <div class="container-fluid">
      <%= render 'shared/user' %>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
